.downloadButton {
    /* border:1px solid red; */
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:700px) {
    .container {
        border: 1px solid red;
        width: 100vw;
        display: flex;
        overflow-x: scroll;
        align-self: stretch;
        align-items: center;
    }

    .downloadButton {
        align-self: center;
        display: flex;
        justify-content: center;
    }

    .box {
        /* width: ; */

    }
}

.switch {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    padding-top: 1rem;
    align-items: center;
}