.toolBar {
    /* flex: 2; */
    width: 30%;
    max-width: 17rem;
    min-width: 15rem;
    align-self: center;
    height: 99vh;
    /* justify-self: stretch; */
  /* border: 1px solid greenyellow; */
}
@media screen and (max-width:700px) {
  .toolBar{
    height: auto;
    width: 100vw;
    align-self:stretch !important;
    /* justify-self: stretch; */

  }
}