.inputBox {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  margin: 0.8rem 0;
}

.label {
  font-size: 1.3rem;
  padding: 0.4rem 0;
  margin: 0 0.2rem;
}
.input {
  border: 0;
  outline: 0;
  flex: 1;
  /* font-size: 1.0rem; */
  /* padding: 2px; */
  background-color: #383838;
  /* margin: 0 0.2rem; */
  /* margin-right: 1rem; */
  color: white;
  border-bottom: 2px solid grey;
  /* 181a1b */
}

.input:focus {
  border-color: rgb(255, 255, 255);
}
.input:hover{
  background-color: #404040;
}