.App {
  /* text-align: center; */
  display: flex;
  height: 100vh;
  align-items: stretch;
  justify-content: space-around ;
  /* border:  1px dotted tan; */
}
@media screen and (max-width:700px) {
    .App{
      flex-direction: column;
    }
}